<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artworks</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="index-ejs">
    
    <nav>
        <h2><a href="/" id="homeLink">Rijks Museum Database</a></h2>
        <button id="searchNearbyButton">Zoek schilderijen binnen 50 km straal</button>
        <form id="searchForm" action="/search" method="GET">
            <input type="text" name="title" placeholder="Search by title...">
            <button class="searchButton" type="submit">Search</button>
        </form>
    </nav>

    <div class="container">
        <ul id="artworksList" class="artworks-list">
            <% artworks.forEach(artwork => { %>
                <li class="artwork-item">
                    <h2><%= artwork.title %></h2>
                    <img src="<%= artwork.imageUrl %>" alt="<%= artwork.title %>">
                </li>
            <% }); %>
        </ul>
        <p id="noResultsMessage" style="display: none;">Geen zoekresultaten gevonden</p>
    </div>

    <script src="/js/index.js" type="module"></script>

</body>
</html>
